<!DOCTYPE HTML>
  <head>
    <link rel='stylesheet' href='videostylesheet.css' charset='utf-8'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  </head>
  <body>
    <div class="video-responsive">
      <a href="/index">
        <iframe src="https://player.vimeo.com/video/196445133?autoplay=1&loop=1&title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <!-- <video id="video1" autoplay>
          <source src=https://player.vimeo.com/video/196445133?autoplay=1&loop=1&title=0&byline=0&portrait=0" type="video/mp4">
        </video> -->
       <!-- </a> -->
    <div>
    <div id="over-logo">
      <a href="/index">
        <img src='logos/grace.png' id='grace-logo'>
      </a>
    </div>
    <script src="js/controller.js"></script>

  </body>
</html>
