<!DOCTYPE HTML>
  <head>
    <link rel='stylesheet' href='person-stylesheet.css' charset='utf-8'>
  </head>

  <body>
    <center>
    <div class="PERSON">
      <div class="div1">
        <img src="profpic.png" id="profile-pic" />
      </div>
      <div class='div2' >  <a href="mailto:info@graceprince.com" > <img src="newPERSON.jpg" id="contact-info"/> </a>
        <div class="insta">
          <a href="https://www.instagram.com/g.rnce/" target="_blank"> <img src="instagrambig.png" id="insta"/> </a>
        </div>
      </div>

  </div>
  </center>
    <script src="js/controller.js"></script>
  </body>
</html>
