
<!DOCTYPE HTML>
  <head>
    <link rel='stylesheet' href='style.css' charset='utf-8'>
  </head>

  <body>
    <div class='design_work_view'>
      <div class="furniture">
        <div id="furniture_title"> <h3 style="color:#C1272D"> <u> F U R N I T U R E</u></h3> </div>
        <div id='exhibition'>
          <h3 style="color:#C1272D"> 1 G R A N A R Y  </h3>
          <a href="http://1granary.com/art-design/furniture/grace-prince-assimilate-fashion-design-furniture/" target="_blank"> http://1granary.com/art-design/furniture/grace-prince-assimilate-fashion-design-furniture/</a>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <div class="exhibitions">
        <div id="exhibitions_title"> <h3 style="color:#C1272D"> <u> E X H I B I T I O N S </u></h3> </div>
        <div id='exhibition'>
          <h3 style="color:#C1272D"> G U I L D H A L L&nbsp; G A L L E R Y </h3>
          <a href="https://graceprince.tumblr.com/" target="_blank"> Scolpire no.1 chair, From the Studio Floor, Guildhall Gallery, Cambridge 2016 </a>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <div class="set_design">
        <div id="set_design_title"> <h3 style="color:#C1272D"> <u> S E T&nbsp; D E S I G N </u></h3> </div>
        <div id='metal_mag'>
          <h3 style="color:#C1272D"> M E T A L&nbsp; M A G A Z I N E </h3>
          <a href="http://metalmagazine.eu/en/post/editorial/turn-over-ana-larruy" target="_blank"> http://metalmagazine.eu/en/post/editorial/turn-over-ana-larruy </a>
        </div>
      </div>

    </div>
    <div class='design_work_view2'>
      <div class="fashion">
        <div id="fasion_title">
          <h3 style="color:#C1272D"><u> F A S H I O N </u></h3>
        </div>

        <div id='1granary'>
          <h3 style="color:#C1272D"> 1 G R A N A R Y </h3>
          <a href="http://1granary.com/central-saint-martins-fashion/graduates/grace-prince/" target="_blank"> http://1granary.com/central-saint-martins-fashion/graduates/grace-prince/ </a>
        </div>
      <br>
      <br>
      <br>
      <br>
        <div id='dazedandconfused'>
          <h3 style="color:#C1272D"> D A Z E D &nbsp; A N D &nbsp; C O N F U S E D </h3>
          <a href="http://www.dazeddigital.com/fashion/article/25047/1/is-the-graduate-show-dead" target="_blank"> http://www.dazeddigital.com/fashion/article/25047/1/is-the-graduate-show-dead </a>
        </div>
      <br>
      <br>
      <br>
      <br>
        <div id='petrie'>
          <h3 style="color:#C1272D"> P E T R I e </h3>
          <a href="http://www.petrieinventory.com/les-plages-dagns" target="_blank"> http://www.petrieinventory.com/les-plages-dagns </a>
        </div>
      <br>
      <br>
      <br>
      <br>
        <div id='thisispaper'>
          <h3 style="color:#C1272D"> T H I S &nbsp; I S &nbsp; P A P E R </h3>
          <a href="http://thisispaper.com/grace-prince/" target="_blank"> http://thisispaper.com/grace-prince/  </a>
        </div>
      <br>
      <br>
      <br>
      <br>
    </div>
    </div>

  </body>
</html>
